@keyframes bubbleOut {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) translate(var(--tx), var(--ty));
    opacity: 0;
  }
}

.animate-bubbleOut {
  animation-name: bubbleOut;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  position: absolute;
}
